<!DOCTYPE html>
<html>
  <head>
    <script language='JavaScript'>
    
    var tag = document.createElement('script');
      tag.src = "//www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      var videos = {{tracks|safe}};
      var repeat = false; 

      var videoNumber = 0;


      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '585',
          width: '960',
          videoId: 'HL3DZ-YDSfw',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      function onPlayerReady(event) {
        event.target.playVideo();
      }
      
      function onPlayerStateChange(event) {
        if (repeat === true && event.data === YT.PlayerState.ENDED) {
          repeatVideo();
        }
        else if (event.data === YT.PlayerState.ENDED) {
          nextVideo();
        }
      }
      function changeVideo(video) {
        player.cueVideoById(video, null, null);
        player.playVideo()
      }

      function playButton(rank) {
        videoNumber = rank -1
        video = videos[videoNumber]
        player.cueVideoById(video, null, null);
        player.playVideo()
      }
      function resetVideos() {
        videoNumber = 0;
        changeVideo(videos[0]);
      }

      function repeatVideo(){
        console.log(videos);
        changeVideo(videos[videoNumber]);
      }

      function nextVideo(){
        if (videoNumber < (videos.length-1)) {
          videoNumber++;
        }else{
          videoNumber = 0;
        };
        changeVideo(videos[videoNumber]);
        
      }

      function previousVideo(){
        if (videoNumber > 0){
          videoNumber--;
        }else{
          videoNumber = (videos.length -1);
        };
        changeVideo(videos[videoNumber]);
        
      }

      function autoRepeat(){
        if (repeat === true){
          repeat = false;
        } else {
          repeat = true;
        }
      }
    </script>

  </head>
  <body>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>
    <div id="buttons">
      <button onclick="resetVideos();">Reset</button>
      <button onclick="previousVideo();">Previous</button>
      <button onclick="repeatVideo();">Repeat</button>
      <button onclick="nextVideo();">Next</button>
    </div>
      <form>
        <input type="checkbox" onclick="autoRepeat();">Repeat
      </form>
    <div id="playlist">
      <table>
        <td>
        {% for track_info in artists_with_tracks %}
          <tr>{{track_info.rank}}. {{ track_info.artist_name|safe }} : {{ track_info.track_name|safe}} <button onclick="playButton({{track_info.rank}});">Play</button></tr></br>
        {% endfor %}
        <td>
      </table>
    </div>
  </body>
</html>