<head>
<script language='JavaScript'>
  var previous = 'H25FlBy9KDw';
  var current = 'v=O4-6Y_91v5I';
  var next = 'l8SYfPMknpQ';

  function changeTrack(new_track){
    document.getElementbyId['iframe'].src = "https:https://www.youtube.com/embed/" + previous + "autoplay=1#t=45";
  };

</script>
</head>
<body>
<iframe width="1280" height="720" src="https://www.youtube.com/embed/sE5BXbfZe5w?rel=0&autoplay=1#t=45" frameborder="0" allowfullscreen></iframe>

<button type="button" onclick="changeTrack(previous)">Previous</button>
<button onclick="changeTrack(current)">Repeat</pbutton>
<button onclick="changeTrack(next)">Next</button>
</body>