<!DOCTYPE html>
<html>
  <head>
    <script language='JavaScript'>
    
    var tag = document.createElement('script');
      tag.src = "//www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      var videos = "{{tracks}}";
      console.log(videos)
      var videoNumber = 0;


      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '585',
          width: '960',
          videoId: 'HL3DZ-YDSfw',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      function onPlayerReady(event) {
        event.target.playVideo();
      }
      
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.ENDED) {
          nextVideo();
        }
      }
      function changeVideo(video) {
        player.cueVideoById(video, null, null);
        player.playVideo()
      }

      function resetVideos() {
        videoNumber = 0;
        changeVideo(videoNumber);
      }

      function repeatVideo(){
        changeVideo(videos[videoNumber]);
      }

      function nextVideo(){
        if (videoNumber < (videos.length-1)) {
          videoNumber++;
        }else{
          videoNumber = 0;
        };
        changeVideo(videos[videoNumber]);
        
      }

      function previousVideo(){
        if (videoNumber > 0){
          videoNumber--;
        }else{
          videoNumber = (videos.length -1);
        };
        changeVideo(videos[videoNumber]);
        
      }
    </script>

  </head>
  <body>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>
    <div id="buttons">
      <button onclick="resetVideos();">Reset</button>
      <button onclick="previousVideo();">Previous</button>
      <button onclick="repeatVideo();">Repeat</button>
      <button onclick="nextVideo();">Next</button>
  </body>
</html>